.titulo {
    text-align: center;
    color:chartreuse;
    font-family: 'Kanit', sans-serif;
    animation: slideFromTop 1s ease, rainbow 6s linear infinite;
}


.indexnav {
    text-justify: center;
    background-color: rgba(22, 2, 167, 0.696);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: 80px;
    align-items: center;
    border-radius: 10px;
    animation: slideFromTop 1s ease;
}

.indexnav a {
    color: chartreuse;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;

    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}

.indexnav a:hover {
    color: rgb(180, 15, 15); /*Establece el color rojo al pasar el raton por la etiqueta*/
    transform: scale3d(1.5, 1.5, 0.3); /*Hace el texto 1.5 veces mas grande en eje X e Y, y 0.3 veces en el eje Z*/
    -webkit-transform: scale3d(1.5, 1.5, 0.3); /*Lo mismo para navegadores webkit (chrome, safari...)*/
    -moz-transform: scale3d(1.5, 1.5, 0.3) /*Lo mismo para navegadores Mozilla (Firefox...)*/
}

.fotonav {
    width: 80px; 
    height: auto; 
}

ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: rgb(115, 18, 115);
    border-radius: 10px;
    animation: slideFromTop 1.0s ease;
}
  
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-family: 'Josefin-Sans', sans-serif;
}

  ul.breadcrumb li+li:before { /*apunta a todos los elementos li excepto el primero.*/
    padding: 8px;
    color: black;
    content: "/\00a0"; /*Barra diagonal y espacio para cada elemento antes de li*/
}
  
ul.breadcrumb li a {
    color: rgba(128, 255, 0, 0.612);
    text-decoration: none;
}
  
ul.breadcrumb li a:hover {
    color: #0080f0;
    text-decoration: none;
}

body {
    background-color: rgb(8, 0, 26);
}

label{
    color: aliceblue;
}

table {
    animation: slideFromLeft 1.5s ease;
}

.dendenmushi {
    animation: slideFromLeft 1.5s ease;
}

@keyframes slideFromTop {
    from {
        transform: translateY(-300%); /*Sale por la izquierda*/
    }
    to {
        transform: rotateY(0); /*Vuelve a su estado original*/
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-200%); /*Sale desde la izquierda*/
    }
    to{
        transform: translate(0); /*Vuelve a su posicion original*/
    }
}

@keyframes rainbow {
    0% { color: red; }
    16.66% { color: orange; }
    33.33% { color: yellow; }
    50% { color: green; }
    66.66% { color: blue; }
    83.33% { color: blueviolet; }
    100% { color: red; }
}