.titulo {
    text-align: center;
    color:chartreuse;
    font-family: 'Kanit', sans-serif;
    animation: slideFromTop 1s ease, rainbow 6s linear infinite;
}

.fotobanner {
    display: flex;
    margin: auto;
    animation: slideFromTop 1.6s ease;
}

.indexnav {
    text-justify: center;
    background-color: rgba(22, 2, 167, 0.696);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: 80px;
    align-items: center;
    animation: slideFromTop 1s ease;
}

.indexnav a {
    color: chartreuse;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;

    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}

.indexnav a:hover {
    color: rgb(180, 15, 15); /*Establece el color rojo al pasar el raton por la etiqueta*/
    transform: scale3d(1.5, 1.5, 0.3); /*Hace el texto 1.5 veces mas grande en eje X e Y, y 0.3 veces en el eje Z*/
    -webkit-transform: scale3d(1.5, 1.5, 0.3); /*Lo mismo para navegadores webkit (chrome, safari...)*/
    -moz-transform: scale3d(1.5, 1.5, 0.3) /*Lo mismo para navegadores Mozilla (Firefox...)*/
}

.fotonav {
    width: 80px; 
    height: auto; 
}

body {
    background-color: rgb(8, 0, 26);
    margin: 20px;
    overflow-x: hidden;
}

table {
   margin: auto;
   margin-top: 3%; 
   animation: slideFromAbove 1.5s ease;
}

th {    
    background-color: rgba(0, 255, 179, 0.616);
    color: black;
    text-align: center;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;

}

td {
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;

}

.Luffy {
    background-color: rgb(211, 211, 211);
    color: rgb(241, 58, 119);
}

.Zoro {
    background-color: rgb(67, 205, 67);
    color: black;
}

.Sanji {
    background-color: yellow;
    color: black;
}

.Eustass {
    background-color: rgb(120, 15, 24);
    color: rgb(199, 199, 0);
}

.Trafalgar {
    background-color: rgb(154, 154, 36);
    color: rgb(13, 100, 250);
}

.Ace {
    background-color: rgba(255, 0, 0, 0.726);
    color: rgb(255, 128, 0);
}

@keyframes slideFromTop {
    from {
        transform: translateY(-300%); /*Sale por la izquierda*/
    }
    to {
        transform: rotateY(0); /*Vuelve a su estado original*/
    }
}

@keyframes slideFromAbove {
    from {
        transform: translateY(170%);
    }
    to {
        transform: translateY(0%);
    }
}

@keyframes rainbow {
    0% { color: red; }
    16.66% { color: orange; }
    33.33% { color: yellow; }
    50% { color: green; }
    66.66% { color: blue; }
    83.33% { color: blueviolet; }
    100% { color: red; }
}

@media (max-width: 768px) {
    .titulo {
        font-size: 30px;
    }

    body {
        margin: 15px;
    }

    .indexnav {
        width: auto;
    }
    .indexnav a {
        font-size: 22px;
        margin: 10px;
    }

    .fotonav {
        width: 60px;
        height: auto;
    }

    table {
        display: flex;
        flex-direction: column;
    }

    tbody {
        display: flex;
        flex-direction: column;
    }
    
    .Personajes {
        display: flex;
        flex-direction: column;
    }

    tr {
        display: flex;
        flex-direction: column;
    }

    th {
        display: flex;
        flex-direction: column;
    }

    table img {
        width: 100%;
    }
}