.titulo {
    text-align: center;
    padding-left: 32px;
    color:chartreuse;
    font-family: 'Kanit', sans-serif;
    animation: slideFromTop 1s ease, rainbow 6s linear infinite;
}

.fotobanner {
    display: flex;
    margin: auto;
    animation: slideFromTop 1.6s ease;
}

.indexnav {
    text-justify: center;
    background-color: rgba(22, 2, 167, 0.696);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Kanit', sans-serif;
    width: 100%;
    height: 80px;
    align-items: center;
    animation: slideFromTop 1s ease;
}

.indexnav a {
    color: chartreuse;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Kanit', sans-serif;
}

.fotonav {
    width: 80px; 
    height: auto; 
}

hr {
    height: 4px;
    background-color: whitesmoke;
    animation: WriteIn 1.5s ease-in-out;
}

footer {
    color: rgb(249, 249, 249);
    text-align: end;
    animation: slideFromRight 2s ease;
}

body {
    background-color: rgb(8, 0, 26);
    margin:20px;
    overflow-x: hidden;
}

.textomain {
    text-align: center;
    color: red;
    font-family: 'Kanit', sans-serif;
    animation: slideFromAbove 1.5s ease;
}

.tabla {
    color: whitesmoke;
    font-size: larger;
    font-family: 'Kanit', sans-serif;
    animation: slideFromLeft 1.5s ease;
}

.fototablas {
    float: right;
    animation: slideFromRight 1.8s ease; /* Duración y tipo de animacion*/ 
}

@keyframes slideFromRight {
    from {
        transform: translateX(200%); /* Se coloca fuera del margen*/
    }
    to {
        transform: translateX(0); /*Vuelve a su estado original*/
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-300%); /*Sale por la arriba*/
    }
    to {
        transform: rotateY(0); /*Vuelve a su estado original*/
    }
}

@keyframes slideFromAbove {
    from {
        transform: translateY(10000%); /*Sale desde abajo*/
    }
    to {
        transform: translateY(0); /*Vuelve a su posicion original*/
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-200%); /*Sale desde la izquierda*/
    }
    to{
        transform: translate(0); /*Vuelve a su posicion original*/
    }
}

@keyframes WriteIn {
    from {
        width: 0%;
    } to {
        width: 100%;
    }
}

@keyframes rainbow {
    0% { color: red; }
    16.66% { color: orange; }
    33.33% { color: yellow; }
    50% { color: green; }
    66.66% { color: blue; }
    83.33% { color: blueviolet; }
    100% { color: red; }
}

@media (max-width: 768px) { 
    /*CSS para visualizarlo en móvil, se ajustan tamaños*/
    .titulo{
        font-size: 30px;
        display: flex;
    }

    .indexnav{
        width: auto;
    }
   .indexnav a{
        font-size: 22px;
        margin: 10px;
    }

    .fotonav {
        width:40px;
        height: auto;
    }
    .fotobanner{
        width: 100%;
    }

    hr{
        height: 3px;
    }

    .textomain{
        font-size: medium;
    }

    .tabla {
        font-size: 15px;
        
    }

    .fototabla1{
        width: 100%;
    }

    footer{
        font-size: 15px
    }
}