.titulo {
    text-align: center;
    color:chartreuse;
    font-family: 'Kanit', sans-serif;
    animation: slideFromTop 1s ease;
}

nav {
    text-align: center;
    background-color: rgba(21, 5, 146, 0.696);
    width:  100vw;
    height: 50px;
    margin: auto;
    animation: slideFromTop 1s ease;
}

.navegador {
    color: chartreuse;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 35px;
    text-align: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: rgb(8, 0, 26);
    margin: 20px;
    overflow-x: hidden;
}

table {
   margin: auto;
   margin-top: 3%; 
   animation: slideFromAbove 1.5s ease;
}

th {    
    background-color: rgba(0, 255, 179, 0.616);
    color: black;
    text-align: center;
    font-size: 35px;
    font-family: 'Kanit', sans-serif;

}

td {
    text-align: center;
    font-size: 25px;
    font-family: 'Kanit', sans-serif;

}

.Luffy {
    background-color: rgb(211, 211, 211);
    color: rgb(241, 58, 119);
}

.Zoro {
    background-color: rgb(67, 205, 67);
    color: black;
}

.Sanji {
    background-color: yellow;
    color: black;
}

.Eustass {
    background-color: rgb(120, 15, 24);
    color: rgb(199, 199, 0);
}

.Trafalgar {
    background-color: rgb(154, 154, 36);
    color: rgb(13, 100, 250);
}

.Ace {
    background-color: rgba(255, 0, 0, 0.726);
    color: rgb(255, 128, 0);
}

@keyframes slideFromTop {
    from {
        transform: translateY(-300%); /*Sale por la izquierda*/
    }
    to {
        transform: rotateY(0); /*Vuelve a su estado original*/
    }
}

@keyframes slideFromAbove {
    from {
        transform: translateY(170%);
    }
    to {
        transform: translateY(0%);
    }
}

@media (max-width: 768px) {
    .titulo{
        font-size: 30px;
    }

    nav{
        width: auto;
    }
    .navegador{
        font-size: 22px;
        margin: 10px;
    }

    {
        display: inline;
    }
}