.titulo {
    text-align: center;
    color:chartreuse;
    font-family: 'Kanit', sans-serif;
    animation: slideFromTop 1s ease;
}

.menu_barras {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    float: right;
}

.menu_barras span {
    display: block;
    width: 100%;
    height: 2px;
    background: blue;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__bars-menu {
    transform: rotate(45deg) translate(-2px, 1px);
}

.activeline2__bars-menu {
    opacity: 0;
    margin-left: -30px;
}

.activeline3__bars-menu {
    transform: rotate(-45deg) translate(-4px, 2px);
}

.fotobanner {
    display: flex;
    margin: auto;
    animation: slideFromTop 1.6s ease;
}

nav {
    text-align: center;
    background-color: rgba(21, 5, 146, 0.696);
    width:  100vw;
    height: 50px;
    margin: auto;
    animation: slideFromTop 1s ease;
}

.navegador {
    color: chartreuse;
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: none;
    margin-right: 80px;
    text-align: center;
    justify-content: center;
    font-family: 'Kanit', sans-serif;
}

hr {
    height: 4px;
    background-color: whitesmoke;
    animation: slideFromAbove 1.5s ease;
}

footer {
    color: rgb(249, 249, 249);
    text-align: end;
    animation: slideFromRight 2s ease;
}

body {
    background-color: rgb(8, 0, 26);
    margin:20px;
    overflow-x: hidden;
}

.textomain {
    text-align: center;
    color: red;
    font-family: 'Kanit', sans-serif;
    animation: slideFromAbove 1.5s ease;
}

.tabla {
    color: whitesmoke;
    font-size: larger;
    font-family: 'Kanit', sans-serif;
    animation: slideFromLeft 1.5s ease;
}

.fototablas {
    float: right;
    animation: slideFromRight 1.8s ease; /* Duración y tipo de animacion*/ 
}

@keyframes slideFromRight {
    from {
        transform: translateX(200%); /* Se coloca fuera del margen*/
    }
    to {
        transform: translateX(0); /*Vuelve a su estado original*/
    }
}

@keyframes slideFromTop {
    from {
        transform: translateY(-300%); /*Sale por la arriba*/
    }
    to {
        transform: rotateY(0); /*Vuelve a su estado original*/
    }
}

@keyframes slideFromAbove {
    from {
        transform: translateY(10000%); /*Sale desde abajo*/
    }
    to {
        transform: translateY(0); /*Vuelve a su posicion original*/
    }
}

@keyframes slideFromLeft {
    from {
        transform: translateX(-200%); /*Sale desde la izquierda*/
    }
    to{
        transform: translate(0); /*Vuelve a su posicion original*/
    }
}

@media (max-width: 768px) { 
    /*CSS para visualizarlo en móvil, se ajustan tamaños*/
    .titulo{
        font-size: 30px;
    }

    nav{
        width: auto;
    }
    .navegador{
        font-size: 22px;
        margin: 10px;
    }

    .fotobanner{
        width: 100%;
    }

    hr{
        height: 3px;
    }

    .textomain{
        font-size: medium;
    }

    .tabla {
        font-size: 15px;
        
    }

    .fototabla1{
        width: 100%;
    }

    footer{
        font-size: 15px
    }
}